# macos-specific metadata
.DS_Store

# test directories
tests/
test/
yarn_test/
volt_test/
pnpm_test/

# accidental installation directories
node_modules
package.json

# lockfiles
yarn.lock
pnpm-lock.yaml
package-lock.json

# others
example/
/dev
/target
